@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    font-family: Poppins;
}
:root {
    --_size: min(300px, min(64vw, 54vh));
    --_color1: #fff;
    --_color2: #000;

    --_pick_size: 28px;
}